$site-background-color: rgb(0, 0, 0);
$main-font-color: #fff;
$mobile-nav-background: rgb(0, 0, 0);
$mobile-nav-detail-grey: rgb(50, 50, 50);
$full-screen-nav-background: rgba(0, 0, 0, 0.85);
$best-offer-car-short-info-color: #a5a5a5;
$best-offer-car-short-info-separator-color: #3e3e3e;
$btn-hover-effect: rgb(88, 88, 88);
$text-color: #d3d5d5;
$background-extra-color: #161515;
$price-background-color: #161515;
$skill-number-color: rgb(21, 21, 21);
$footer-color: #646464;
$change-mode-switch-color: #000;
$submit-btn-hover-background-color: #a9a9a9;

$nav-iteam-hover-color: rgb(88, 88, 88);
$very-light-grey: #e9e9eb;
$full-screen-contact-nav-btn: #000;
$price-color: #fff;
